@charset "UTF.8";

/* CSS para página blog */
h2, div.meta, p {
    margin: 10px 0px;
}

h2 {
    color: var(--primary-blue);
}

div.meta {
    color: var(--gray-light);
}

.link-post {
    font-weight: bold;
    color: var(--primary-blue);
    margin: 10px 0px;
    margin-bottom: 50px;
}

.link-post:hover {
    color: var(--blue-hover);
    text-decoration: underline;
    cursor: pointer;
}

.main-b {
    border-radius: 0px;
    padding: 64px 32px;
    margin: auto;
}

input#search-bar {
    width: 225px;
    height: 30px;
    background: var(--bg-input-contact);
    color: var(--text-ligth);
    border: none;
    border-radius: 7px;
    padding: 10px;
}

input#search-bar:focus {
    border: none;
}

@media (max-width: 430px) {
    .card-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        height: 120px;
}

}

/* CSS para os posts */
.body-p {
    padding: 0;
    margin: 0;
}

.main-p {
    padding: 32px;
    margin: 0px auto;
}

.title-p {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-blue);
    margin: 10px 0px;
}

.img-posts {
    width: 100%;
    border-radius: 7px;
    margin: 10px 0px;
}

.text-p {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5rem;
    margin: 20px 0px;
}

@media (min-width: 600px) {

    .title-p {
        font-size: 2rem;
    }

    .text-p {
        font-size: 1.1rem;
    }

.img-posts {
    width: 500px;
}

}

@media (min-width: 1024px) {
    .img-text1 {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
}

.img-posts {
    width: 400px;
}

}